@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');
@font-face {
  font-family: 'Proxima Nova';
  src: url('./font/proxima_nova_font.otf') format('opentype');
}

.font-proxima {
  font-family: 'Proxima Nova', sans-serif;
}

.font-epilogue {
  font-family: 'Epilogue', sans-serif;
}

.bg-light-grey {
  background: #FCFCFC;
}

.font-12 {
  font-size: 12px;
}

.mt-_5{
  margin-top: -5px;
}

.ms-6 {
  margin-left: 7rem !important;
}
.mt-6{
  margin-top: 7rem !important;
}

.pt-6{
  padding-top: 4rem;
}

.ml-7 {
  margin-left: 5rem !important;
}

a {
  text-decoration: none;
}

.active {
  background: #F90B31;
  border-top: 5px solid #F90B31;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 4px 20px rgba(249, 11, 49, 0.5);
  padding-bottom: 2.5rem !important;
}

.inactive {
  border-top: 5px solid #A9A9A9;
}

.border-right-nav {
  position: relative;
}

.border-right-nav:after {
  content: '';
  height: 28px; 
  width: 2px;
  position: absolute;
  right: -29px;
  top: -7px; 
  background-color: #D9D9D9;; 
}

.active a{
  color: white !important;
}

.text-black{
  color: black;
}

.fs-5_5 {
  font-size: 18px;
}

.fs-60 {
  font-size: 60px;
}

.fs-26 {
  font-size: 26px;
}

.main-head {
  background: #1D63DC;
  color: white;
  border-radius: 10px;
}

.main-color {
  color: #1D63DC;
}

.secondary-color {
  color: #F90B31;
}

.line-height-40 {
  line-height: 40px;
}

.line-height-60 {
  line-height: 60px;
}

.line-height-32 {
  line-height: 32px;
}

.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.w-32rem {
  width: 32rem;
}

.btn-theme-1 {
  position: relative;
  background: #F90B31;
  box-shadow: 0px 4px 20px rgba(249, 11, 49, 0.5);
  border-radius: 10px;
  z-index: 100;
}

.btn-theme-1 a{
  color: white;  
  line-height: 18px;
}

hr {
  height: 4px !important;
  background: #ACACAC;
}

.ellipse {
  width: 60rem;
  height: auto;
  top: 6.5rem;
}

.services-imgs {
  top: -23rem;
  left: 10rem;
}
.services-heading {
  left: -2rem;
  top: 9rem;
}
.services-content {
  text-align: center;
  top: 12rem;
  width: 18rem;
  left: -4rem;
}
.founder-img {
  top: -3rem;
  width: 16rem;
}
.rating-container {
  background: rgba(255, 168, 0, 0.1);
  border-radius: 70px;
}
.elps9{
  left: 8rem;
  top: 10rem;
}

.cst-1 {
  left: 5rem;
  top: 7rem;
}
.ratings{
  background: url(./Ellipse_6.png);
  background-size: cover;
  width: 35rem;
  height: 35rem;  
}

.ratings-str { 
  left: 11rem;
  top: 7rem;
}
.rating-content {
  text-align: center;
  top: 4rem;
  width: 20rem;
  left: -2rem;
}

.name-content{
  top: 15rem;
  left: -2rem;
}

.recomended-content {
  top: 18rem;
  left: -2.2rem;
}

.in-sol {
  background: url(./in-sol.png);
  background-size: cover;
  width: 70rem;
  height: 65rem;
  top: -9rem;  
}

#ratings {
  z-index: 1000;
}

@media (min-width: 1920px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1400px;
  }
}